<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "arnivut.net.wtg"
        versionCode = "3009"
        version   = "2.3.0">
    <name>מציאות רבודה</name>

    <description>
       משחקי ניווט סלולרים
    </description>

    <author href="www.nivut.org" email="avnerP@outlook.com">
        אבנר פניני
    </author>
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*"/>
    
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="prerendered-icon" value="true" /><!--ios only-->
    <preference name="detect-data-types" value="false" /><!--ios only-->
    <preference name="SplashScreenDelay" value="7000" />
    <preference name="FadeSplashScreenDuration" value="1000"/>
    <preference name="SplashMaintainAspectRatio" value="true" />

    <platform name="ios" >
        <preference name="fullscreen"      value="true" />
    </platform>
    <platform name="android" >
        <preference name="fullscreen"      value="false" />
    </platform>
    <!-- icon -->
        <!-- <icon src="icon.png" /> -->
        <platform name="android">
            <icon src="images/icons/android/mdpi.png"  qualifier="ldpi" />
            <icon src="images/icons/android/mdpi.png" qualifier="mdpi" />
            <icon src="images/icons/android/hdpi.png" qualifier="hdpi" />
            <icon src="images/icons/android/xhdpi.png" qualifier="xhdpi" />
            <icon src="images/icons/android/xxhdpi.png" qualifier="xxhdpi" />
            <icon src="images/icons/android/xxxhdpi.png" qualifier="fr-xxhdpi" />
        </platform>
        <platform name="ios">
            <!-- iPhone 6 / 6+ -->
            <icon src="icon.png" />
            <icon src="images/icons/ios/180.png" width="180" height="180" />
            <icon src="images/icons/ios/60.png"  width="60" height="60" />
            <icon src="images/icons/ios/120.png" width="120" height="120" />
            <icon src="images/icons/ios/76.png"  width="76" height="76" />
            <icon src="images/icons/ios/72.png"  width="72" height="72" />
            <icon src="images/icons/ios/152.png" width="152" height="152" />
            <icon src="images/icons/ios/29.png"  width="29"   height="29" />
            <icon src="images/icons/ios/58.png"  width="58"   height="58" />
            <icon src="images/icons/ios/57.png"  width="57"   height="57" />
            <icon src="images/icons/ios/40.png"  width="40"  height="40" />
            <icon src="images/icons/ios/80.png"  width="80"  height="80" />
            <!-- IOS 6.1
            <icon src="images/icons/ios/57.png"  width="57"  height="57" />
            <icon src="images/icons/ios/72.png"  width="72"  height="72" />
            <icon src="images/icons/ios/114.png" width="114" height="114" />
            <icon src="images/icons/ios/144.png" width="144" height="144" />
            -->
        </platform>

    <!-- splash -->
        <!-- <splash src="splash.png" /> -->
        <platform name="android">
            <splash src="images/splash/android/mdpi.png"    qualifier="mdpi" />
            <splash src="images/splash/android/hdpi.png"    qualifier="hdpi" />
            <splash src="images/splash/android/xhdpi.png"   qualifier="xhdpi" />
            <splash src="images/splash/android/xxhdpi.png"  qualifier="fr-xhdpi" />
            <splash src="images/splash/android/xxhdpi.png"  qualifier="port-xxhdpi" />
            <splash src="images/splash/ios/2048_1536.png"       qualifier="land-xxhdpi" />
        </platform>
        <platform name="ios">
            <splash src="images/splash/ios/320_480.png" width="320" height="480" />
            <splash src="images/splash/ios/640_960.png" width="640" height="960" />
            <splash src="images/splash/ios/640_1136.png" width="640" height="1136" />
            <splash src="images/splash/ios/750_1334.png" width="750" height="1334" />
            <splash src="images/splash/ios/1242_2208.png" width="1242" height="2208" />
            <splash src="images/splash/ios/2204_1242.png" width="2208" height="1242" />
            <splash src="images/splash/ios/768_1024.png" width="768" height="1024" />
            <splash src="images/splash/ios/1024_768.png" width="1024" height="768" />
            <splash src="images/splash/ios/1536_2048.png" width="1536" height="2048" />
            <splash src="images/splash/ios/2048_1536.png" width="2048" height="1536" />
        </platform>
        
        <plugin name="cordova-plugin-file" source="npm" /><!--ar-->
        <plugin name="https://github.com/avnerpnini/wikitude-cordova-plugin.git"  /><!--ar-->

</widget>
